@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Quicksand", sans-serif;

}

:root {
    --brown: #824104;
    --nude: #F39E4E;
    --gray: #ededed;
    --blue: #185864;
    --blue-light: #2bb0b0;


}

html,
body {
    width: 100%;
    overflow-x: hidden;
}


header,
main {
    width: 100%;
    background: var(--brown);

}




header img {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    margin-right: 1rem;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

nav .brand {
    font-size: 24px;
    color: var(--nude);
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;

}

nav ul li a {
    color: var(--nude);
    text-decoration: none;

}

nav ul li a:hover {

    color: #F39E4E80;

}


.content .header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: var(--nude);
    border-radius: 10px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);

    position: relative;
    z-index: 50;

}

.header-block img {
    width: 13%;
    position: absolute;
    right: 3%;
    bottom: 353px;
    color: var(--brown);

}

.header-block .text {
    position: absolute;
    /* bottom: 30%; */
    right: 30%;


}

.header-block .text h2 {
    color: var(--blue);
    margin-bottom: 0px;
    text-align: center;
    transform: translateX(-20px);
    transition: transform 0.5s;

}

.header-block .text p {
    max-width: 280px;
    text-align: right;
    /* color: var(--blue-light); */
    transform: translateX(-20px);
    transition: transform 0.4s;

}

/* Catalogo */

section .catalog {
    width: 100vw;
    height: 100px;

}

section .filter-card {
    width: 1000px;
    height: 150px;
    background-color: var(--brown);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.search-input {
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    text-indent: 10px
}

.search-button {
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: var(--nude);
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s ease;
}

.search-button:hover {
    background: #ededed;
    color: var(--brown);
}

.title-wrapper-catalog {
    margin-top: 10px;
    padding-bottom: 20px;
    text-align: center;

}

section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 50px;
    padding-top: 10px;
    align-items: stretch;
}

section .card-item {
    height: 400px;
    background: var(--nude);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section .card-item img {
    width: 200px;
    height: auto;
    display: flex;
}

.card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.card-item h3 {
    width: 100%;

}


section .catalog {
    background-color: #F39E4E80s
}