<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>emprestaí</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>

        <nav>
            <img src="/media/logo.png">
            <p class="brand">emprest<strong>aí</strong></p>
            <ul>
                <li><a href="about">About</a></li>
                <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            <div class="header-block">
                <div class="text">
                    <h2>Uma rede social para pessoas apaixonadas por livros</h2>
                    <p>
                        Bora compartilhar essa paixão
                    </p>

                </div>
                <img src="/media/tag.png">
            </div>

        </div>
        <section class="catalog" id="catalog">
            <div class="title-wrapper-catalog">
                <p>Digite livro que você procura</p>
                <h3>Catalogo</h3>
            </div>
            <div class="filter-card">
                <input type="text" class="search-input" placeholder="Escolha seu livro favorito" />
                <button class="search-button">Buscar</button>
            </div>
            <div class="card-wrapper">
                <div class="card-item">
                    <img src="/media/faca amor.jpg" alt="Book">
                    <div class="card-content">
                        <h3>Faça amor, não faça jogo</h3>
                    </div>
                    <p> Um livro de Ique Carvalho</p>
                    <button type="button">Quero emprestar esse livro!</button>

                </div>
                <div class="card-item">
                    <img src="/media/faca amor.jpg" alt="Book">
                    <div class="card-content">
                        <h3>Faça amor, não faça jogo</h3>
                    </div>
                    <p> Um livro de Ique Carvalho</p>
                    <button type="button">Quero emprestar esse livro!</button>

                </div>
                <div class="card-item">
                    <img src="/media/faca amor.jpg" alt="Book">
                    <div class="card-content">
                        <h3>Faça amor, não faça jogo</h3>
                    </div>
                    <p> Um livro de Ique Carvalho</p>
                    <button type="button">Quero emprestar esse livro!</button>

                </div>
                <div class="card-item">
                    <img src="/media/faca amor.jpg" alt="Book">
                    <div class="card-content">
                        <h3>Faça amor, não faça jogo</h3>
                    </div>
                    <p> Um livro de Ique Carvalho</p>
                    <button type="button">Quero emprestar esse livro!</button>

                </div>
                <div class="card-item">
                    <img src="/media/faca amor.jpg" alt="Book">
                    <div class="card-content">
                        <h3>Faça amor, não faça jogo</h3>
                    </div>
                    <p> Um livro de Ique Carvalho</p>
                    <button type="button">Quero emprestar esse livro!</button>

                </div>
                <div class="card-item">
                    <img src="/media/faca amor.jpg" alt="Book">
                    <div class="card-content">
                        <h3>Faça amor, não faça jogo</h3>
                    </div>
                    <p> Um livro de Ique Carvalho</p>
                    <button type="button">Quero emprestar esse livro!</button>

                </div>
            </div>

        </section>
        <section class="about" id="about">
            <div class="content">
                <div class="titlw-wrapper-about">
                    <p>Know about us</p>
                    <h3>About</h3>
                </div>
                <div class="about-content">
                    <div class="left">
                        <div class="img" src="/media/biblioteca.png"></div>
                    </div>
                    <div class="right">
                        <h3>Join tecnology and mobility</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo autem aut nihil. Quibusdam hic
                            adipisci consectetur! Voluptatem fuga obcaecati sit, excepturi hic fugiat itaque laboriosam
                            quaerat dolorum et? Id, temporibus!</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>