{% extends 'base.html' %}

{% block 'conteudo' %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Usuário</th>
            <th scope="col">Data Empréstimo</th>
            <th scope="col">Data Devolução</th>
            <th scope="col">Avaliação</th>
        </tr>
    </thead>
    <tbody>
        {% for i in emprestimos%}
        <tr>
            <th scope="row">1</th>
            <td>{{i.nome_emprestado}}</td>
            <td>{{i.data_emprestimo}}</td>
            <td>{{i.data_devolucao}}</td>
            <td>{{i.avaliacao}}</td>
        {% endfor %}
        </tr>


    </tbody>
</table>

{% endblock %}