{% extends 'base.html' %}


{% block 'head'%}
    <style>
        .ca

    </style>




{% endblock %}

{% block 'conteudo' %}
<div class="container">
    {% for emprestimo in emprestimos %}

    <div class="cartao">
        <label>Data de Emprestimo:</label>
        <p>{{emprestimo.data_emprestimo}}</p>
        <br>
        <label>Data de Devolução:</label>
        {% if emprestimo.data_devolucao %}
        <p>{{emprestimo.data_devolucao}}</p>
        {% else %}
        <p>Ainda não devolvido</p>
        {% endif %}
        <br>
        <label>Livro emprestado:</label>
        <p>{{emprestimo.livro}}</p>
        {% endfor %}
    </div>
</div>


{% endblock %}